.grid-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-result {
    border: 1px solid #bab4b4;
    padding: 2px;
}

input {
    padding: 8px 16px;
    background-color: black;
    border-color: #4f4f4f;
    color: #bab4b4;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-bottom: 28px;
    font-size: 1.3rem;
    border-color: #e9cb9c;
    border-style: groove;
    outline: none;
    transition: 300ms ease-in-out all;
    &:focus {
        border-width: 2px;
        padding-left: 25px;
        padding-right: 25px;
        border-color: white;
    }
}
